<div class="career">
    <h2 class="Career">~ Founders' Journey ~</h2>
    <div class="timeline">
      <div class="line"></div>
  
      <div class="section">
        <div class="bead"></div>
        <div class="content1">
          <h2 id="titletimeline">Foundation Phase 2018</h2>
     
          <p>Inspired by their experiences at shelters and their growing concern for the wellbeing of stray animals, John and Emily realized the need for an online platform dedicated to animal adoption and care. They spent the year conducting market research, talking to other animal lovers, and planning the foundation of what would become their life's work.</p>
        </div>
      </div>
  
      <div class="section">
        <div class="bead"></div>
        <div class="content2">
          <h2 id="titletimeline">Launch of Pet Haven 2019</h2>
         
          <p>In 2019, after months of hard work and dedication, John and Emily launched Pet Haven. The website quickly gained popularity among pet lovers, offering a user-friendly platform where people could find pets for adoption, read about pet care, and connect with other pet owners. Their dream of helping animals find homes was becoming a reality.</p>
        </div>
      </div>
  
      <div class="section">
        <div class="bead"></div>
        <div class="content1">
          <h2 id="titletimeline">Innovations 2023</h2>
         
          <p>In 2023, Pet Haven embraced new technologies to enhance the user experience. They introduced virtual pet adoptions through live video calls, developed AI-driven tools for matching pets with potential owners, and created an online marketplace for pet products. These innovations solidified Pet Haven's position as a leading platform in the pet care industry.</p>
        </div>
      </div>
  
      <div class="section">
        <div class="bead"></div>
        <div class="content2">
          <h2 id="titletimeline">Future Vision 2025...</h2>
        
          <p>Looking to the future, John and Emily remain committed to their mission of improving the lives of animals everywhere. They plan to expand Pet Haven's reach globally, advocate for stronger animal welfare policies, and continue innovating to provide the best possible resources for pet owners. Their journey is far from over, and they are excited for what lies ahead.</p>
        </div>
      </div>
    </div>
  </div>
