.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7FB685; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
     font-family: 'Nunito Sans', sans-serif;
  }
  
  .site-logo img {
    height: 80px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .site-info {
    text-align: left;
  }
  
  .site-info h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
  }
  
  .site-info h2 {
    color: #FFFFFF;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300 ;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .site-info p {
    color: #FFFFFF; 
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
  }
  
  .header-buttons .btn {
    background-color: #FFFFFF; 
    color: #4CAF50; 
    padding: 10px 20px;
    text-decoration: none;
  
    transition: background-color 0.3s, color 0.3s;
  }
  
  .header-buttons .btn:hover {
    background-color: #388E3C;
    color: #FFFFFF; 
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .site-logo img {
      height: auto;
      width: 100%;
      max-width: 100px;
      margin-bottom: 15px;
    }
  
    .site-info {
      margin-bottom: 15px;
    }
  
    .site-info h1 {
      font-size: 28px;
    }
  
    .site-info h2 {
      font-size: 22px;
    }
  
    .site-info p {
      font-size: 16px;
    }
  
    .header-buttons {
      flex-direction: column;
      width: 100%;
      gap: 5px;
    }
  
    .header-buttons .btn {
      width: 100%;
      text-align: center;
    }
  }
  