<div class="header">
    <div class="site-logo">
      <img src="https://us-tuna-sounds-images.voicemod.net/d33f0f68-1adf-47a4-a4e4-7635c524c7dd-1661830922769.jpg" alt="Dog Selfie">
    </div>
    <div class="site-info">
      <h1>{{title}}</h1>
      <h2>Le premier refuge en ligne</h2>
      <p>Découvrez et adoptez votre nouveau meilleur ami</p>
    </div>
    <div class="header-buttons">
        <button [routerLink] = "'../adoptionplace'"class="btn btn-big">Lancez-vous!</button>
    </div>
  </div>
  