footer {
  background: #2b2e33;
  color: #d3d3d3;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  z-index: 25;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

.logo-text span {
  color: #4CAF50;
}

.contact {
  margin: 20px 0;
}

.contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #d3d3d3;
}

.socials a:hover {
  color: #4CAF50; 
}

.footer-section h2 {
  margin-bottom: 20px;
  color: #4CAF50;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul a {
  text-decoration: none;
  color: #d3d3d3;
  margin-bottom: 10px;
  display: block;
}

.footer-section ul a:hover {
  color: #4CAF50;
}

.contact-form .contact-input {
  width: 100%;
  background: #1f1f1f;
  border: none;
  padding: 10px;
  margin: 10px 0;
  color: #d3d3d3;
}

.contact-form .contact-input:focus {
  background: #333333;
}

.contact-form .btn {
  background: #4CAF50; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s;
}

.contact-form .btn:hover {
  background: #388E3C;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background: #202022;
  color: #686868;
  font-size: 0.9em;
}
  