
.navbar {
    display: flex;
    background-color: #426A5A;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
   
    height: 150px;
  }
  
  .site-name h1 {
    color: #FFFFFF;
    font-size:4rem;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    left: 100px;
    font-weight: 700;
   
  }
  
  .site-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .site-menu a {
    text-decoration: none;
    color: #FFFFFF; 
    margin: 0 15px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    border-radius: 5px; 
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .site-menu a:hover {
    background-color: #4CAF50; 
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .site-menu {
      flex-direction: column;
      width: 100%;
    }
  
    .site-menu a {
      margin: 5px 0;
      width: 100%;
      text-align: center;
    }
  }

  .active{
    background-color: #4CAF50;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .clickable-h1 {
    text-decoration: none;
    color: inherit;
    display:flex;
    align-items: center;
  }
  .clickable-h1 h1 {
    margin: 0;
  }

  .logo {
    margin-left: 20px;
    width: 60px;
    height: auto;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .user-info .refuge-name {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .user-info img.refuge-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-info button {
    background-color: #EF6F6C;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .user-info button:hover {
    background-color: #555;
  }